*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
main {
  background-color: rgb(121, 197, 7);
  height: 100vmin;
  width: 100vmin;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
}

.snake {
  background-color: darkgreen;
  border: 0.25vmin solid black;
  border-radius: 1vmin;
}
.food {
  background-color: red;
  border: 0.25vmin solid black;
  border-radius: 50%;
}
button {
  margin-right: 5vmin;
  border-radius: 1vh;
  height: 10vmin;
  width: 15vmin;
}
